body {
    background-color: #D8E6FE;
    height: 100vh;
}

main{
    min-height: 85vh;
}

header{
    height: 15vh;
    background-color: #021430;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

header img{
    height: 100%;
    width: auto;
}

header h1{
    color: white;
    margin: auto 10px auto auto;
}

#caja-autenticacion{
    background-color: #021430;
    display: grid;
    grid-template-areas: "imagen formulario"
                         "imagen botones";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70% 30%;
    border: black 2px solid;
    height: 400px;
    width: 550px;
    margin: 60px auto auto;
}

#caja-autenticacion img{
    grid-area: imagen;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#caja-autenticacion form{
    grid-area: formulario;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: space-between;
    margin: 30px 0 10px;
}

#caja-autenticacion form div{
    margin: 0 10px 0;
    width: auto;
}

#caja-autenticacion form div label{
    color: white;
}

#caja-autenticacion form .btns-form{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

#login{
    margin-top: 15px;
}

#caja-autenticacion .botones{
    grid-area: botones;
}

#caja-autenticacion .botones a{
    display: inline-block;
    width: 100%;
    text-align: center;
    color: white;
}

#mensaje{
    color: #E22012;
    margin: 10px;
    font-weight: bold;
}

#registro {
    width: 90vw; height: auto;
    margin: auto;
    padding: 20px 0 40px;
    background-color: #f5f5f5;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}

#registro form{
    height: auto; width: 60%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: stretch;
}

#registro form div{
    margin-top: 10px;
}

#cambio-clave1{
    min-height: 85vh;
    width: 90vw; height: auto;
    margin: auto;
    padding: 20px 0 40px;
    background-color: #f5f5f5;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: center;
}

#cambio-clave1 h2{
    margin-bottom: 20px;
}

#cambio-clave1 form{
    height: auto; width: 60%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: stretch;
}

#cambio-clave1 form div{
    margin-bottom: 20px;
}