{% extends 'aulaVirtual/base.html' %}
{% load static %}

{% block content %}

<header>
    <img src="{% static 'aulaVirtual/media/Logo-Techzenith.png' %}" alt="Logo Techzenith">
    <h1>Techzenith - Aula virtual</h1>
</header>
<main>
    <section id="cambio-clave1">
        <form action="" method="post">
            {% csrf_token %}
            
            <div>
                <input type="password" name="clave" id="clave">
                <label for="clave">Contraseña</label>
            </div>
            <div>
                <input type="password" name="clave2" id="clave2">
                <label for="clave2">Repita su contraseña</label>
            </div>
            
            <div>
                <button type="submit">Registrarse</button>
            </div>

        </form>

    </section>
</main>
<footer>

</footer>


{% endblock %} 