{% extends 'aulaVirtual/base.html' %}
{% load static %}

{% block content %}

<header>
    <img src="{% static 'aulaVirtual/media/Logo-Techzenith.png' %}" alt="Logo Techzenith">
    <h1>Techzenith - Aula virtual</h1>
</header>
<main>
    <section id="cambio-clave1">
        <h2>Cambiar contraseña</h2>
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li id="mensaje"> {{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <form action="" method="post">
            {% csrf_token %}
            
            
            <div class="form-floating">
                <input class="form-control" type="email" name="correo" id="correo" placeholder="name@example.com">
                <label for="correo">Correo electronico: </label>
            </div>
            
            <div>
                <button type="submit" class="btn btn-light">Enviar</button>
            </div>

        </form>

    </section>
</main>
<footer>

</footer>


{% endblock %} 