{% extends 'aulaVirtual/base.html' %}
{% load static %}

{% block content %}

<header>
    <img src="{% static 'aulaVirtual/media/Logo-Techzenith.png' %}" alt="Logo Techzenith">
    <h1>Techzenith - Aula virtual</h1>
</header>
<main>
    <section id="cambio-clave1">
        <h2>Ingresa nuevas credenciales </h2>
        {% if messages %}
            {% for message in messages %}
                <p id="mensaje">{{ message }}</p>
            {% endfor %}
        {% endif %}
        <form action="" method="post">
            {% csrf_token %}
            
            <div class="form-floating">
                <input class="form-control" type="password" name="clave" id="clave" placeholder="password">
                <label for="clave">Contraseña</label>
            </div>
            <div class="form-floating">
                <input class="form-control" type="password" name="clave2" id="clave2" placeholder="password">
                <label for="clave2">Repita su contraseña</label>
            </div>

            <div>
                <button type="submit" class="btn btn-light">Guardar</button>
            </div>

        </form>

    </section>
</main>
<footer>

</footer>


{% endblock %} 