{% extends 'aulaVirtual/base.html' %}
{% load static %}

{% block content %}
<header>
    <img src="{% static 'aulaVirtual/media/Logo-Techzenith.png' %}" alt="Logo Techzenith">
    <h1>Techzenith - Aula virtual</h1>
</header>
<main>
    <div id="caja-autenticacion">
        <img src="{% static 'aulaVirtual/media/biblioteca.jpg' %}" alt="Imagen decorativa de una biblioteca">
        <form method="post" action="">
            {% csrf_token %}
            <div>
                <label for="username">Nombre de usuario: </label>
                <input type="text" id="username" name="username">
            </div>
            <div>
                <label for="password">Contraseña: </label>
                <input type="password" id="password" name="password">
            </div>
            <div class="btns-form">
                <div>
                    <input type="checkbox" name="recordarme" id="recordarme" class="form-check-input">
                    <label for="recordarme">Recordarme </label>
                </div>
                <button type="submit" id="login" class="btn btn-outline-light">Iniciar sesión</button>
            </div>
        </form>
        <div class="botones">
            <a href="/change_password">Olvide mi contraseña</a>
            <a href="/register">Registrarme</a>
            {% if messages %}
                {% for message in messages %}
                    <p id="mensaje">{{ message }}</p>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</main>
<footer>

</footer>


{% endblock %}