{% extends 'aulaVirtual/base.html' %}
{% load static %}

{% block content %}
<header>
    <img src="https://cdn.discordapp.com/attachments/1229914831365083151/1229934981741281410/DALLE.webp?ex=6655be76&is=66546cf6&hm=59d5ff4dbeb526b012dd112812a2a36694155c112ca877f3ba696e7693292f91&" alt="Logo">
    <h1>Techzenith</h1>
</header>
<main>
    <div>
        <form method="post" action="">
            {% csrf_token %}
            <div>
                <label for="username">Nombre de usuario: </label>
                <input type="text" id="username" name="username">
            </div>
            <div>
                <label for="password">Contraseña: </label>
                <input type="password" id="password" name="password">
            </div>
            <div>
                <label for="recordarme">Recordarme </label>
                <input type="checkbox" name="recordarme" id="recordarme">
                <button type="submit">Iniciar sesión</button>
            </div>
        </form>
        {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</main>
<footer>

</footer>

<h1>Hola mundo</h1>

{% endblock %}